<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Comics", comics_path %></li>
    <li>
      <a href="#">Editeurs</a>
      <ul>
        <li><%= link_to "DC Comics", comics_dc_path %></li>
        <li><%= link_to "Marvel", comics_marvel_path %></li>
        <li><%= link_to "Valiant", comics_valiant_path %></li>
        <li><%= link_to "Other", comics_other_path %></li>
      </ul>
    </li>
    <li>
      <a href="#">Contact</a>
      <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </li>
    <% if user_signed_in? %>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %> </li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path %> </li>
  <% end %>
  </ul>
</nav>
